<ion-content>
<ion-grid class="ion-margin">
  <ion-row>
    <ion-col>
      <p>
        In this article, I’d like to reacquaint you with the humble workhorse of communication that is the paragraph.</p>
      <p>   Paragraphs are everywhere. In fact, at the high risk of stating the obvious,
         you are reading one now. Despite their ubiquity, we frequently neglect their presentation. This is a mistake
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>
        In this article, I’d like to reacquaint you with the humble workhorse of communication that is the paragraph.</p>
      <p>   Paragraphs are everywhere. In fact, at the high risk of stating the obvious,
         you are reading one now. Despite their ubiquity, we frequently neglect their presentation. This is a mistake
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>
        In this article, I’d like to reacquaint you with the humble workhorse of communication that is the paragraph.</p>
      <p>   Paragraphs are everywhere. In fact, at the high risk of stating the obvious,
         you are reading one now. Despite their ubiquity, we frequently neglect their presentation. This is a mistake
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>
        In this article, I’d like to reacquaint you with the humble workhorse of communication that is the paragraph.</p>
      <p>   Paragraphs are everywhere. In fact, at the high risk of stating the obvious,
         you are reading one now. Despite their ubiquity, we frequently neglect their presentation. This is a mistake
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>
        In this article, I’d like to reacquaint you with the humble workhorse of communication that is the paragraph.</p>
      <p>   Paragraphs are everywhere. In fact, at the high risk of stating the obvious,
         you are reading one now. Despite their ubiquity, we frequently neglect their presentation. This is a mistake
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>
        In this article, I’d like to reacquaint you with the humble workhorse of communication that is the paragraph.</p>
      <p>   Paragraphs are everywhere. In fact, at the high risk of stating the obvious,
         you are reading one now. Despite their ubiquity, we frequently neglect their presentation. This is a mistake
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>
        In this article, I’d like to reacquaint you with the humble workhorse of communication that is the paragraph.</p>
      <p>   Paragraphs are everywhere. In fact, at the high risk of stating the obvious,
         you are reading one now. Despite their ubiquity, we frequently neglect their presentation. This is a mistake
      </p>
    </ion-col>
  </ion-row>

</ion-grid>
<ion-grid class="ion-margin">
  <ion-row>
    <ion-col>
      <ion-button color="primary" (click)="closeModal('y')">Yes</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="primary" fill="clear" (click)="closeModal('n')">No</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>