

<ion-content >
  <ion-header >
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
 <ion-grid class="ion-margin-top  ion-padding">
  <form (submit)="loginWithPassword()" [formGroup]="loginForm"> 
  <ion-card>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-input formControlName="emailForm" placeholder="Enter Email" ></ion-input>
          </ion-item>
          <!-- {{loginForm.get('emailForm')?.errors}} -->
          <ion-text color="danger" *ngIf="loginForm.get('emailForm')?.errors && (loginForm.get('emailForm')?.touched || loginForm.get('emailForm')?.dirty ||formSubmit)">
            <p *ngIf="loginForm.get('emailForm')?.errors?.['required']??false">Email Required</p>
            <p *ngIf="loginForm.get('emailForm')?.errors?.['email']??false">Invalid Email</p>
          </ion-text>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-input formControlName="password"   type="password" placeholder="Enter password"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty || formSubmit)">
            <p *ngIf="loginForm.get('password')?.errors?.['required']??false">Password Required</p>
          </ion-text>
        </ion-list>
       
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
    <ion-checkbox formControlName="rememberMe" (ionChange)="checkboxChange($event)">Remember Me</ion-checkbox>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Login</ion-button> 
      </ion-col>
      <ion-col>
        <ion-button (click)="registerUser()" expand="block">Register</ion-button> 
      </ion-col>
    </ion-row>
  </ion-card>
</form>
  <ion-row class="ion-margin">
    <ion-col class="ion-text-center">
  <ion-label color="tertiary">Or</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin">
    <ion-col class="ion-text-center">
      <ion-label color="tertiary"> <ion-text>Login Using</ion-text>  </ion-label>    

    </ion-col>
    <ion-col>
      <ion-icon name="logo-google" size="large" (click)="loginWithGoogle()"></ion-icon>
    </ion-col>
  </ion-row>

 </ion-grid>
</ion-content>
