<ion-header [translucent]="true"  id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Welcome 
    </ion-title>
    <ion-buttons slot="end">
      <ion-toggle [(ngModel)]="themeToggle" (ionChange)="toggleChange($event)" justify="space-between"
      >Dark Mode</ion-toggle
    >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let item of items; let index" (click)="showImageData(item)">
      <ion-avatar slot="start">
        <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
      </ion-avatar>
      <ion-label>{{ item .title}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content  ></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{userData?.firstName }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>{{userData?.lastName }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>{{userData?.mobileNumber }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>{{userData?.email }}</p>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <p>{{userData?.address }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="logout()">Logout</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-content>
</ion-menu>